.Circle {
    border: 2px solid #000;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 110px;
}

/* Extra Small Devices */
@media only screen and (max-width: 600px) {
    .Circle {
        width: 145px;
        height: 145px;
        padding-top: 55px;
    }
}

/* Medium Devices */
@media only screen and (min-width: 768px) {
    .Circle {
        width: 160px;
        height: 160px;
        padding-top: 55px;
    }
}

/* Extra large devices */
@media only screen and (min-width: 1200px) {
    .Circle {
        width: 250px;
        height: 250px;
        padding-top: 110px;
    }
}